<!DOCTYPE html>
<!-- Thymeleaf를 사용하겠다. -->
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>비밀번호 찾기 확인 페이지</title>
<link rel="stylesheet" href="/webjars/bootstrap/5.3.0/dist/css/bootstrap.min.css">
<script src="/webjars/jquery/3.6.4/dist/jquery.min.js"></script>
<script src="/webjars/bootstrap/5.3.0/dist/js/bootstrap.min.js"></script>
<script src="/webjars/axios/1.4.0/dist/axios.min.js"></script>
<link rel="stylesheet" href="/css/style.css">
<style type="text/css">
	#info {
		width: 30%;
		padding: 10px;
		margin: auto;
		border: 1px solid gray;
		margin-bottom: 10px;
		font-size: 13pt;
		border-radius: 20px;
		color: black;
		display: auto;
	}
	table {
		width: 100%; 
		margin: auto;
		padding:15px;
	}
	.title {
		width: 100%;
		background-color: rgb(255, 230, 230); 
		color: black;
		font-size: 18pt; 
		text-align: center; 
		padding: 5px;
		margin : 0 auto;
	}

	td {
		padding: 5px;
	}
</style>
<script>
		
</script>
</head>
<body>
	<div id="info">
		<table>
			<tr>
				<td class="title">비밀번호 찾기 확인</td>
			</tr>
			<tr>
				<td>
					[[${vo.shared_id}]]님의 임시 비밀번호를 입력하신 이메일로 전송했습니다.<br />
					이메일을 확인하시고 로그인을 시도하시기 바랍니다. 
					<br />
				</td>
			</tr>
		</table>
		<hr />
		<a href="/member/login"  class="btn btn-sm btn-outline-success">로그인하러 가기</a>
		<a href="/"  class="btn btn-sm btn-outline-success">Home</a>
	</div>
</body>
</html>
